html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

#map {
    position: relative;
    margin: 0 auto;
    height: 665px;
    width: 500px;
}
